@import url('https://fonts.googleapis.com/css?family=Maven+Pro:400,500,700,900');

/* 공통 스타일 */

body,ul,li {margin: 0; padding: 0; font-size: 12px; font-family: "맑은 고딕", 'Maven Pro', sans-serif;}
a {text-decoration: none; color: #ffffff;}
ul, li {list-style: none;}
cf{ content:''; display:block; clear:both; }
strong::-o-selection{ background-color:#dddddd; color:#ff0000; }
strong::-ms-selection{ background-color:#dddddd; color:#ff0000; }
strong::-moz-selection{ background-color:#dddddd; color:#ff0000; }
strong::-webkit-selection{ background-color:#dddddd; color:#ff0000; }
strong::selection{ background-color:#dddddd; color:#ff0000; }
ul li::-o-selection{ background-color:#dddddd; color:#ff0000; }
ul li::-ms-selection{ background-color:#dddddd; color:#ff0000; }
ul li::-moz-selection{ background-color:#dddddd; color:#ff0000; }
ul li::-webkit-selection{ background-color:#dddddd; color:#ff0000; }
ul li::selection{ background-color:#dddddd; color:#ff0000; }
span::-o-selection{ background-color:#dddddd; color:#ff0000; }
span::-ms-selection{ background-color:#dddddd; color:#ff0000; }
span::-moz-selection{ background-color:#dddddd; color:#ff0000; }
span::-webkit-selection{ background-color:#dddddd; color:#ff0000; }
span::selection{ background-color:#dddddd; color:#ff0000; }
p::-o-selection{ background-color:#dddddd; color:#ff0000; }
p::-ms-selection{ background-color:#dddddd; color:#ff0000; }
p:-moz-selection{ background-color:#dddddd; color:#ff0000; }
p::-webkit-selection{ background-color:#dddddd; color:#ff0000; }
p::selection{ background-color:#dddddd; color:#ff0000; }

/* 전체 레이아웃 min-width:1400px */
#contents>*{ margin:0 auto; }
#wrap{ position:relative; margin:0 auto; width:100%; min-width:1400px; }
#header{ width:100%; height:90px; position:fixed; z-index:1000; background:rgba(255,255,25,0.3); }

#main{ width:1400px; height:950px; position:relative; background:#f7fcff; }
#profile{ width:1400px; height:1000px; position:relative; background:#f7fcff; }
#branding01{ width:1400px; height:1000px; position:relative; background:#f7fcff; }
#adaptive01{ width:1400px; height:1000px; position:relative; background:#f7fcff; }
#jQuery{ width:1400px; height:1000px; position:relative; background:#f7fcff; }
#css{ width:1400px; height:1000px; position:relative; background:#f7fcff; }
#main>*, #profile>*, #branding01>*, #adaptive01>*, #jQuery>*, #css>*{ position:absolute; }

/* 퀵메뉴 스타일 정의 */
#floatdiv{ position:absolute; left:1800px !important; top:250px; margin-left:10px; }
#floatdiv ul{ border:0; margin:0; padding:0; }
#floatdiv ul li{ border:0; margin:0; padding:0; }
#floatdiv ul li span{ margin:0 0 5px 0; cursor:pointer; }
#floatdiv ul li #btn01{ display:block; width:40px; height:40px; background:url(../images/button/before/before.png) no-repeat; }
#floatdiv ul li #btn02{ display:block; width:40px; height:40px; background:url(../images/button/before/before.png) no-repeat; }
#floatdiv ul li #btn03{ display:block; width:40px; height:40px; background:url(../images/button/before/before.png) no-repeat; }
#floatdiv ul li #btn04{ display:block; width:40px; height:40px; background:url(../images/button/before/before.png) no-repeat; }
#floatdiv ul li #btn05{ display:block; width:40px; height:40px; background:url(../images/button/before/before.png) no-repeat; }
#floatdiv ul li #btn06{ display:block; width:40px; height:40px; background:url(../images/button/before/before.png) no-repeat; }
#floatdiv ul li #btn07{ display:block; width:40px; height:40px; background:url(../images/button/before/before.png) no-repeat; }
#floatdiv ul li #btn08{ display:block; width:40px; height:40px; background:url(../images/button/before/before.png) no-repeat; }
#floatdiv ul li #btn09{ display:block; width:40px; height:40px; background:url(../images/button/before/before.png) no-repeat; }
#floatdiv ul li:hover #btn01{ background:url(../images/button/after/after.png) no-repeat; }
#floatdiv ul li:hover #btn02{ background:url(../images/button/after/after.png) no-repeat; }
#floatdiv ul li:hover #btn03{ background:url(../images/button/after/after.png) no-repeat; }
#floatdiv ul li:hover #btn04{ background:url(../images/button/after/after.png) no-repeat; }
#floatdiv ul li:hover #btn05{ background:url(../images/button/after/after.png) no-repeat; }
#floatdiv ul li:hover #btn06{ background:url(../images/button/after/after.png) no-repeat; }
#floatdiv ul li:hover #btn07{ background:url(../images/button/after/after.png) no-repeat; }
#floatdiv ul li:hover #btn08{ background:url(../images/button/after/after.png) no-repeat; }
#floatdiv ul li:hover #btn09{ background:url(../images/button/after/after.png) no-repeat; }

#floatdiv ul li.active #btn01{ background:url(../images/button/after/after.png) no-repeat; }
#floatdiv ul li.active #btn02{ background:url(../images/button/after/after.png) no-repeat; }
#floatdiv ul li.active #btn03{ background:url(../images/button/after/after.png) no-repeat; }
#floatdiv ul li.active #btn04{ background:url(../images/button/after/after.png) no-repeat; }
#floatdiv ul li.active #btn05{ background:url(../images/button/after/after.png) no-repeat; }
#floatdiv ul li.active #btn06{ background:url(../images/button/after/after.png) no-repeat; }
#floatdiv ul li.active #btn07{ background:url(../images/button/after/after.png) no-repeat; }
#floatdiv ul li.active #btn08{ background:url(../images/button/after/after.png) no-repeat; }
#floatdiv ul li.active #btn09{ background:url(../images/button/after/after.png) no-repeat; }

/* 상단 풀다운 메뉴 스타일 */
#header-inner{ width:1400px; height:90px; position:fixed; left:50%; top:10px; margin-left:-700px; z-index:1000; padding:0 100px; }
#menuWrap{ width:1400px; height:50px; position:relative; left:0px; top:10px; background:#ffffff; opacity:0.85; border-radius:10px; } 
#menuWrap .fav{ position:absolute; top:2px; right:20px; display:block; padding:0 4px; font-weight:bold; background-color:#ffffff; color:#26376f; border-radius:2px; }
#menu{ position:absolute; left:0; top:0; width:1400px; }
#menu li{ float:left; padding:0 20px; }
#menu .mLogo{ padding-left:40px; margin-top:-5px; }
#menu li a{ display:block; font-family:'Maven pro',sans-serif; padding:2px 4px; line-height:42px; font-size:1.5em; font-weight:800; text-align:center; color:#9d9d9d; opacity:1; }
#menu li a:hover{ color:#222222; text-shadow:0 0 20px #67bc0d; }
#menu .on a{ color:#222222; text-shadow:0 0 20px #67bc0d; }
#menu .mLogo a{ padding:0 4px; opacity:1; }
/* main */
#main .pLogo{ left:120px; top:300px; }
#main .me{ left:380px; top:150px; }

/* profile */
#profile>img{ left:3.5%; top:15%; }
#profile .profile01{ left:6%; top:38%; width:230px; }
#profile .profile02{ left:28%; top:38%; width:230px; }
#profile .profile03{ left:55%; top:38%; width:190px; }
#profile .profile04{ left:77%; top:38%; width:250px; }
#profile strong{ display:block; margin-top:20px; text-align:center; font-size:2.8em; color:#26376f; font-family:'Maven Pro',sans-serif; font-weight:900; }
#profile ul{ margin:20px 0 0 45px; }
#profile ul li:before{ content: '#'; clear:both; font-weight:bold; margin-right:5px; }
#profile ul li{ list-style:none; font-size:1.3em; line-height:170%; color:#222222; }
#profile .profile01 img{ display:block; margin:0 auto; }
#profile .profile02 img{ display:block; margin:0 auto; }
#profile .profile03 img{ display:block; margin:0 auto; }
#profile .profile04 img{ display:block; margin:0 auto; }
/* mobile */
#branding01 > img{ left:2.5%; top:15%; }
#branding01 .branding01_1{ left:4%; top:23%; }
#branding01 .branding02{ left:4%; top:36%; }
#branding01 .branding03{ left:4%; top:49%; }
#branding01 .branding04{ left:4%; top:62%; }
#branding01 .mobileMainImg{ lefT:47.5%; top:24%; }
#branding01 .mobileSubImg{ left:4.2%; top:76%; }
#branding01 .mobileSubImg img{ margin-right:20px; }
#branding01 span{ font-size:1.5em; color:#0036d9; font-family:'나눔 고딕', sans-serif; }
#branding01 strong{ font-size:2em; color:#26376f; padding:0 10px 0 0; font-family:'Maven Pro', sans-serif; font-weight:500; }
#branding01 p{ width:500px; margin-top:5px; color:#222222; line-height:1.5em; text-align:justify; }
#branding01 p .point{ color:#1184e8; font-weight:bold; font-size:1em; font-family:'맑은 고딕', sans-serif; }
/* adaptive01 */
#adaptive01 > img{ left:3.5%; top:15%; }
#adaptive01 .adaptive01{ left:4%; top:23%; }
#adaptive01 .adaptive02{ left:4%; top:36%; }
#adaptive01 .adaptive03{ left:4%; top:49%; }
#adaptive01 .adaptive04{ left:4%; top:62%; }
#adaptive01 .adaptiveMainImg{ lefT:47.5%; top:24%; }
#adaptive01 span{ font-size:2em; color:#0036d9; font-family:'Nanum Pen Script', Cursive; }
#adaptive01 strong{ font-size:2em; color:#26376f; padding:0 10px 0 0; }
#adaptive01 p{ width:500px; margin-top:5px; color:#222222; line-height:1.5em; text-align:justify; }
#adaptive01 p .point{ color:#1184e8; font-weight:bold; font-size:1em; font-family:'맑은 고딕', sans-serif; }

/* jQuery */
#jQuery > img{ left:3.5%; top:15%; }
#jQuery .jQuery01{ left:4%; top:23%; }
#jQuery .jQuery02{ left:4%; top:36%; }
#jQuery .jQuery03{ left:4%; top:49%; }
#jQuery .jQuery04{ left:4%; top:62%; }
#jQuery .jQueryMainImg{ lefT:47.5%; top:24%; }
#jQuery .jQuerySubImg{ left:4.2%; top:76%; }
#jQuery .jQuerySubImg img{ margin-right:20px; }
#jQuery span{ font-size:2em; color:#0036d9; font-family:'Nanum Pen Script', Cursive; }
#jQuery strong{ font-size:2em; color:#26376f; padding:0 10px 0 0; }
#jQuery p{ width:500px; margin-top:5px; color:#222222; line-height:1.5em; text-align:justify; }
#jQuery p .point{ color:#1184e8; font-weight:bold; font-size:1em; font-family:'맑은 고딕', sans-serif; }

/* css */
#css > img{ left:3.5%; top:15%; }
#css .css01{ left:4%; top:23%; }
#css .css02{ left:4%; top:36%; }
#css .css03{ left:4%; top:49%; }
#css .css04{ left:4%; top:62%; }
#css .cssMainImg{ lefT:47.5%; top:24%; }
#css .cssSubImg{ left:4.2%; top:76%; }
#css .cssSubImg img{ margin-right:20px; }
#css span{ font-size:2em; color:#0036d9; font-family:'Nanum Pen Script', Cursive; }
#css strong{ font-size:2em; color:#26376f; padding:0 10px 0 0; }
#css p{ width:500px; margin-top:5px; color:#222222; line-height:1.5em; text-align:justify; }
#css p .point{ color:#1184e8; font-weight:bold; font-size:1em; font-family:'맑은 고딕', sans-serif; }

