@import url('https://fonts.googleapis.com/css?family=Maven+Pro:400,500,700,900');

/* 공통 스타일 */

body,ul,li {margin: 0; padding: 0; font-size: 12px; font-family: "맑은 고딕", 'Maven Pro', sans-serif;}
a {text-decoration: none; color: #ffffff;}
ul, li {list-style: none;}
cf{ content:''; display:block; clear:both; }
strong::-o-selection{ background-color:#dddddd; color:#ff0000; }
strong::-ms-selection{ background-color:#dddddd; color:#ff0000; }
strong::-moz-selection{ background-color:#dddddd; color:#ff0000; }
strong::-webkit-selection{ background-color:#dddddd; color:#ff0000; }
strong::selection{ background-color:#dddddd; color:#ff0000; }
ul li::-o-selection{ background-color:#dddddd; color:#ff0000; }
ul li::-ms-selection{ background-color:#dddddd; color:#ff0000; }
ul li::-moz-selection{ background-color:#dddddd; color:#ff0000; }
ul li::-webkit-selection{ background-color:#dddddd; color:#ff0000; }
ul li::selection{ background-color:#dddddd; color:#ff0000; }
span::-o-selection{ background-color:#dddddd; color:#ff0000; }
span::-ms-selection{ background-color:#dddddd; color:#ff0000; }
span::-moz-selection{ background-color:#dddddd; color:#ff0000; }
span::-webkit-selection{ background-color:#dddddd; color:#ff0000; }
span::selection{ background-color:#dddddd; color:#ff0000; }
p::-o-selection{ background-color:#dddddd; color:#ff0000; }
p::-ms-selection{ background-color:#dddddd; color:#ff0000; }
p:-moz-selection{ background-color:#dddddd; color:#ff0000; }
p::-webkit-selection{ background-color:#dddddd; color:#ff0000; }
p::selection{ background-color:#dddddd; color:#ff0000; }

/* 전체 레이아웃 */
#wrap{ position:relative; margin:0 auto; width:100%; min-width:1400px; }
#header{ width:100%; height:90px; position:fixed; z-index:1000; background:rgba(255,255,25,0.3); }

#main{ width:1400px; height:950px; position:relative; background:#f7fcff; }
#profile{ width:1400px; height:1000px; position:relative; background:#f7fcff; }
#mobile{ width:1400px; height:1000px; position:relative; background:#f7fcff; }
#adaptive01{ width:1400px; height:1000px; position:relative; background:#f7fcff; }
#jQuery{ width:1400px; height:1000px; position:relative; background:#f7fcff; }
#css{ width:1400px; height:1000px; position:relative; background:#f7fcff; }
#main>*, #profile>*, #mobile>*, #adaptive01>*, #jQuery>*, #css>*{ position:absolute; }

/* 퀵메뉴 스타일 정의 */
#floatdiv{ position:absolute; left:0; top:250px; margin-left:10px; }
#floatdiv ul{ border:0; margin:0; padding:0; }
#floatdiv ul li{ border:0; margin:0; padding:0; }
#floatdiv ul li span{ margin:0 0 5px 0; cursor:pointer; }
#floatdiv ul li #btn01{ display:block; width:40px; height:40px; background:url(../images/button/before/before.png) no-repeat; }
#floatdiv ul li #btn02{ display:block; width:40px; height:40px; background:url(../images/button/before/before.png) no-repeat; }
#floatdiv ul li #btn03{ display:block; width:40px; height:40px; background:url(../images/button/before/before.png) no-repeat; }
#floatdiv ul li #btn04{ display:block; width:40px; height:40px; background:url(../images/button/before/before.png) no-repeat; }
#floatdiv ul li #btn05{ display:block; width:40px; height:40px; background:url(../images/button/before/before.png) no-repeat; }
#floatdiv ul li #btn06{ display:block; width:40px; height:40px; background:url(../images/button/before/before.png) no-repeat; }
#floatdiv ul li #btn07{ display:block; width:40px; height:40px; background:url(../images/button/before/before.png) no-repeat; }
#floatdiv ul li #btn08{ display:block; width:40px; height:40px; background:url(../images/button/before/before.png) no-repeat; }
#floatdiv ul li #btn09{ display:block; width:40px; height:40px; background:url(../images/button/before/before.png) no-repeat; }
#floatdiv ul li:hover #btn01{ background:url(../images/button/after/after.png) no-repeat; }
#floatdiv ul li:hover #btn02{ background:url(../images/button/after/after.png) no-repeat; }
#floatdiv ul li:hover #btn03{ background:url(../images/button/after/after.png) no-repeat; }
#floatdiv ul li:hover #btn04{ background:url(../images/button/after/after.png) no-repeat; }
#floatdiv ul li:hover #btn05{ background:url(../images/button/after/after.png) no-repeat; }
#floatdiv ul li:hover #btn06{ background:url(../images/button/after/after.png) no-repeat; }
#floatdiv ul li:hover #btn07{ background:url(../images/button/after/after.png) no-repeat; }
#floatdiv ul li:hover #btn08{ background:url(../images/button/after/after.png) no-repeat; }
#floatdiv ul li:hover #btn09{ background:url(../images/button/after/after.png) no-repeat; }

#floatdiv ul li.active #btn01{ background:url(../images/button/after/after.png) no-repeat; }
#floatdiv ul li.active #btn02{ background:url(../images/button/after/after.png) no-repeat; }
#floatdiv ul li.active #btn03{ background:url(../images/button/after/after.png) no-repeat; }
#floatdiv ul li.active #btn04{ background:url(../images/button/after/after.png) no-repeat; }
#floatdiv ul li.active #btn05{ background:url(../images/button/after/after.png) no-repeat; }
#floatdiv ul li.active #btn06{ background:url(../images/button/after/after.png) no-repeat; }
#floatdiv ul li.active #btn07{ background:url(../images/button/after/after.png) no-repeat; }
#floatdiv ul li.active #btn08{ background:url(../images/button/after/after.png) no-repeat; }
#floatdiv ul li.active #btn09{ background:url(../images/button/after/after.png) no-repeat; }

/* 상단 풀다운 메뉴 스타일 */
#header-inner{ width:1400px; height:90px; position:fixed; left:50%; top:10px; margin-left:-700px; z-index:1000; padding:0 100px; }
#menuWrap{ width:1400px; height:50px; position:relative; left:0px; top:10px; background:#ffffff; opacity:0.85; border-radius:10px; } 
#menuWrap .fav{ position:absolute; top:2px; right:20px; display:block; padding:0 4px; font-weight:bold; background-color:#ffffff; color:#26376f; border-radius:2px; }
#menu{ position:absolute; left:0; top:0; width:1400px; }
#menu li{ float:left; padding:0 14px; }
#menu .mLogo{ padding-left:40px; margin-top:-15px; }
#menu li a{ display:block; padding:2px 4px; line-height:42px; font-size:1.5em; font-weight:bold; text-align:center; color:#9d9d9d; opacity:1; }
#menu li a:hover{ color:#ffffff; text-shadow:0 0 20px #ffffff; }
#menu .on a{ color:#ffffff; text-shadow:0 0 20px #ffffff; }
#menu .mLogo a{ padding:0 4px; opacity:1; }
/* main */
#main .pLogo{ left:120px; top:300px; }
#main .me{ left:380px; top:150px; }

/* profile */
#profile>img{ left:3.5%; top:15%; }
#profile .profile01{ left:6%; top:38%; width:210px; }
#profile .profile02{ left:28%; top:38%; width:290px; }
#profile .profile03{ left:58%; top:38%; width:130px; }
#profile .profile04{ left:77%; top:38%; width:210px; }
#profile strong{ display:block; margin-top:20px; text-align:center; font-size:2.8em; color:#26376f; }
#profile ul{ margin:20px 0 0 20px; }
#profile ul li{ list-style:square; font-size:1.3em; line-height:170%; color:#222222; }
#profile .profile01 img{ display:block; margin:0 auto; }
#profile .profile02 img{ display:block; margin:0 auto; }
#profile .profile03 img{ display:block; margin:0 auto; }
#profile .profile04 img{ display:block; margin:0 auto; }
/* mobile */
#mobile > img{ left:3.5%; top:15%; }
#mobile .mobile01{ left:4%; top:23%; }
#mobile .mobile02{ left:4%; top:36%; }
#mobile .mobile03{ left:4%; top:49%; }
#mobile .mobile04{ left:4%; top:62%; }
#mobile .mobileMainImg{ lefT:47.5%; top:24%; }
#mobile .mobileSubImg{ left:4.2%; top:76%; }
#mobile .mobileSubImg img{ margin-right:20px; }
#mobile span{ font-size:2em; color:#0036d9; font-family:'Nanum Pen Script', Cursive; }
#mobile strong{ font-size:2em; color:#26376f; padding:0 10px 0 0; }
#mobile p{ width:500px; margin-top:5px; color:#222222; line-height:1.5em; text-align:justify; }
#mobile p .point{ color:#1184e8; font-weight:bold; font-size:1em; font-family:'맑은 고딕', sans-serif; }
/* adaptive01 */
#adaptive01 > img{ left:3.5%; top:15%; }
#adaptive01 .adaptive01{ left:4%; top:23%; }
#adaptive01 .adaptive02{ left:4%; top:36%; }
#adaptive01 .adaptive03{ left:4%; top:49%; }
#adaptive01 .adaptive04{ left:4%; top:62%; }
#adaptive01 .adaptiveMainImg{ lefT:47.5%; top:24%; }
#adaptive01 span{ font-size:2em; color:#0036d9; font-family:'Nanum Pen Script', Cursive; }
#adaptive01 strong{ font-size:2em; color:#26376f; padding:0 10px 0 0; }
#adaptive01 p{ width:500px; margin-top:5px; color:#222222; line-height:1.5em; text-align:justify; }
#adaptive01 p .point{ color:#1184e8; font-weight:bold; font-size:1em; font-family:'맑은 고딕', sans-serif; }

/* jQuery */
#jQuery > img{ left:3.5%; top:15%; }
#jQuery .jQuery01{ left:4%; top:23%; }
#jQuery .jQuery02{ left:4%; top:36%; }
#jQuery .jQuery03{ left:4%; top:49%; }
#jQuery .jQuery04{ left:4%; top:62%; }
#jQuery .jQueryMainImg{ lefT:47.5%; top:24%; }
#jQuery .jQuerySubImg{ left:4.2%; top:76%; }
#jQuery .jQuerySubImg img{ margin-right:20px; }
#jQuery span{ font-size:2em; color:#0036d9; font-family:'Nanum Pen Script', Cursive; }
#jQuery strong{ font-size:2em; color:#26376f; padding:0 10px 0 0; }
#jQuery p{ width:500px; margin-top:5px; color:#222222; line-height:1.5em; text-align:justify; }
#jQuery p .point{ color:#1184e8; font-weight:bold; font-size:1em; font-family:'맑은 고딕', sans-serif; }

/* css */
#css > img{ left:3.5%; top:15%; }
#css .css01{ left:4%; top:23%; }
#css .css02{ left:4%; top:36%; }
#css .css03{ left:4%; top:49%; }
#css .css04{ left:4%; top:62%; }
#css .cssMainImg{ lefT:47.5%; top:24%; }
#css .cssSubImg{ left:4.2%; top:76%; }
#css .cssSubImg img{ margin-right:20px; }
#css span{ font-size:2em; color:#0036d9; font-family:'Nanum Pen Script', Cursive; }
#css strong{ font-size:2em; color:#26376f; padding:0 10px 0 0; }
#css p{ width:500px; margin-top:5px; color:#222222; line-height:1.5em; text-align:justify; }
#css p .point{ color:#1184e8; font-weight:bold; font-size:1em; font-family:'맑은 고딕', sans-serif; }

/* shopping */
#shopping > img{ left:3.5%; top:15%; }
#shopping .shop01{ left:4%; top:23%; }
#shopping .shop02{ left:4%; top:36%; }
#shopping .shop03{ left:4%; top:49%; }
#shopping .shop04{ left:4%; top:62%; }
#shopping .shopMainImg{ lefT:47.5%; top:22%; width:580px; height:550px; overflow:hidden; overflow-y:scroll; }
#shopping .iphoneImg{ lefT:73%; top:48.7%; width:152px; height:228px; overflow:hidden; overflow-y:scroll; }
#shopping .shopMobileImg{ lefT:72%; top:43%; }
#shopping span{ font-size:2em; color:#0036d9; font-family:'Nanum Pen Script', Cursive; }
#shopping strong{ font-size:2em; color:#26376f; padding:0 10px 0 0; }
#shopping p{ width:500px; margin-top:5px; color:#222222; line-height:1.5em; text-align:justify; }
#shopping p .point{ color:#1184e8; font-weight:bold; font-size:1em; font-family:'맑은 고딕', sans-serif; }

/* 2d graphic */
#graphic > img{ left:3.5; top:15%; }
#graphic .graphic01{ left:4%; top:23%; }
#graphic .graphic02{ left:4%; top:49%; }
#graphic .graphicImgBox{ left:47.5%; top:21%; width:580px; height:610px; }
#graphic #graphicImage{ width:580px; height:500px; }
#graphic #graphicImage p{ display:none; }
#graphic #graphicImage p img{ width:580px; height:500px; border:0; }
#graphic #graphicBox{ position:relative; width:580px; height:90px; margin-top:10px; }
#graphic #graphicBox .left{ position:absolute; left:0; top:0; width:35px; height:40px; padding-top:25px; text-align:left; cursor:pointer; }
#graphic #graphicBox .right{ position:absolute; right:0; top:0; width:35px; height:40px; padding-top:25px; text-align:right; cursor:pointer; }
#graphic #graphicBox .graphicImg{ overflow:hidden; position:relative; left:35px; width:510px; height:90px; }
#graphic #graphicBox .graphicImg ul{ position:absolute; width:1530px; left:-510px; }
#graphic #graphicBox .graphicImg .thumb{float:left; width:120px; height:90px; margin-left:10px; list-style:none; cursor:pointer; }
#graphic #graphicBox .graphicImg .first{ margin-left:0; }
#graphic span{ font-size:2em; color:#0036d9; font-family:'Nanum Pen Script', Cursive; }
#graphic span{ font-size:2em; color:#0036d9; font-family:'Nanum Pen Script', Cursive; }
#graphic strong{ font-size:2em; color:#26376f; padding:0 10px 0 0; }
#graphic p{ width:500px; margin-top:5px; color:#222222; line-height:1.5em; text-align:justify; }
#graphic p .point{ color:#1184e8; font-weight:bold; font-size:1em; font-family:'맑은 고딕', sans-serif; }

/* epilogue */
#epilogue > img{ left:3.5%; top:15%; }
#epilogue .epilogueBox{ left:3.5%; top:24%; width:93%; height:60%; background-color:#dedede; overflow:hidden; }
#epilogue .epilogueBox .epilogueText01{ position:absolute; left:3%; top:5%; width:30%; height:90%; }
#epilogue .epilogueBox .epilogueText01 > span{ margin-top:20px; font-size:1.6em; text-align:justify; display:block; font-weight:bold; color:#666666; line-height:1.3; }
#epilogue .epilogueBox .epilogueText01 p{ margin-top:30px; font-size:1.2em; text-align:justify; color:#555555; line-height:1.3; }
#epilogue .epilogueBox .epilogueText02{ position:absolute; left:36%; top:5%; width:30%; height:90%; }
#epilogue .epilogueBox .epilogueText02 > span{ margin-top:20px; font-size:1.6em; text-align:justify; display:block; font-weight:bold; color:#666666; line-height:1.3; }
#epilogue .epilogueBox .epilogueText02 p{ margin-top:30px; font-size:1.2em; text-align:justify; color:#555555; line-height:1.3; }
#epilogue .epilogueBox .epilogueImg01{ position:absolute; left:72%; top:-7%; }
#epilogue .epilogueBox .epilogueText02 p span{ font-weight:bold; text-decoration:underline; }
#epilogue .epilogueBox .epilogueImg01 img { 
	-o-transform: rotate(10deg); 
	-ms-transform: rotate(10deg); 
	-moz-transform: rotate(10deg);
	-webkit-transform: rotate(10deg);
	transform: rotate(10deg); 
}
#epilogue .epilogueBox .epilogueImg02{ position:absolute; left:70%; top:35%; }
#epilogue .epilogueBox .epilogueImg02 img{
	-o-transform: rotate(353deg); 
	-ms-transform: rotate(353deg); 
	-moz-transform: rotate(353deg);
	-webkit-transform: rotate(353deg);
	transform: rotate(353deg); 
}































